---
import Flex from '@/components/Flex.astro';
---

<footer class='root'>
	<div></div>
	Favicon created by <a href='https://nocturne.works/'>Caius Nocturne</a>
</footer>
<style>
	.root {
		background-color: light-dark(rgb(var(--paper-light)), rgb(var(--paper-dark)));
		padding-bottom: auto;
		flex-grow: 1;
		padding: 1rem;
	}
</style>
