---
import Flex from '@/components/Flex.astro';
---

<footer class='root'>
	<div></div>
	Favicon by <a href='https://nocturne.works/'>Caius Nocturne</a>
</footer>
<style>
	.root {
		background-color: light-dark(rgb(220, 220, 220,), rgb(30, 30, 30));
		padding-bottom: auto;
		flex-grow: 1;
	}
</style>
