---
import Header from '@/components/Header/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;

		--bg-light: 255, 248, 242;
		--bg-dark: 41, 40, 40;

		--paper-light: 255, 255, 255;
		--paper-dark: 40, 40, 40;

		--text-light: 0, 0, 0;
		--text-dark: 255, 255, 255;

		--link: 247, 95, 49;
		--link-hover: 227, 60, 38;

		--primary-light: 247, 95, 49;
		--primary-dark: 227, 60, 38;

		--radius: 8px;
		--spacing-sm: 0.25rem;
		--spacing-md: 0.5rem;
		--spacing-lg: 0.75rem;
		--spacing-xl: 1rem;
	}

	:root[data-theme='light'] {
		color-scheme: light;
	}

	:root[data-theme='dark'] {
		color-scheme: dark;
	}

	:root {
		font-family: system-ui, sans-serif;
		color: light-dark(rgb(var(--text-light)), rgb(var(--text-dark)));
		background: light-dark(rgb(var(--bg-light)), rgb(var(--bg-dark)));
	}

	body {
		display: flex;
		flex-direction: column;
		margin: 0;
		min-height: 100vh;
		color: light-dark(rgb(var(--text-light)), rgb(var(--text-dark)));
	}

	main {
		padding-top: 3rem;
	}

	a {
		color: rgb(var(--link));
		transition: color 0.3s ease;
		text-decoration: none;

		&:hover {
			color: rgb(var(--link-hover));
		}
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
